/* css styles */
#quarto-document-content{
  margin-top: 0;
  padding-top: 0;
}

section[id^=parameters] > h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
section[id^=parameters] > p {
  margin-left: 2.0em;
  margin-top: 0.5em; 
}
section[id^=returns] > h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
section[id^=returns] > p {
  margin-left: 2.0em;
  margin-top: 0.5em; 
}

.type_annotation {
  color:#9753b8;
  font-style: italic;
}