/* css styles */
#quarto-document-content{
  margin-top: 0.75em;
  padding-top: 0;
  line-height: 1.4 !important;
}

section.level1 > h1 {
  margin-top: 0 !important; 
}

section.level3 {
  border-style: solid;
  border-color: #d3d3d3;
  margin-bottom: 1em;
  padding: 0.75em;
}

section.level3 > h3 {
  margin-top: 0 !important;
}
section.level4 > strong {
  margin-left: 0.5em;
}
section.level4 > h4 {
  text-decoration: underline;
}
section[id^=parameters] > h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
section[id^=parameters] > p {
  margin-left: 1.5em;
  margin-top: 0.5em; 
}
section[id^=parameters] > h4 {
  font-size: medium;
}
section[id^=returns] > h3 {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
}
section[id^=returns] > p {
  margin-left: 2.0em;
  margin-top: 0.5em; 
}

.sourceCode {
  background-color: #d3d3d357;
}

.type_annotation {
  color:#9753b8;
  font-style: italic;
}

#quarto-header .nav-link {
  font-weight: bold;
  font-size: larger;
}

.cell-output {
  border-left: 4px solid #ccc;
  margin: 0;
  padding: 0 1em;
  color: #666;
}
.cell-output p {
  margin: 0; /* Reset paragraph margin inside the blockquote */
}